
 body {
    background-color: rgb(238, 223, 173);
    font-family:'Times New Roman', Times, serif
}

h1 {
    color: black;
    font-size: xx-large;
    font-weight:700;
    text-align:center;
}

p {
    color: red;
    font-size: xx-large;
}

ul {
    color: black;
    font-size: x-large;
    font-weight: 900;
}

img {
    text-align:center;
}

li {
    color: purple;
    font-size: 50px;
    font-weight: 900; 
}

h3{
    font-size:50px;
}


/* margin and padding styling*/

.desert {
    padding:50px;
    border:red;
    margin-top: 100px;
    margin-right:150px;
    margin-bottom:100px;
    margin-left:350px;
    
    
}

.secondlist{
    padding:50px;
    border:red;
    margin-top: 100px;
    margin-right:100px;
    margin-bottom:100px;
    margin-left:100px;
}

.secondimage{
    padding:50px; color:red;
    border:red; color:red;
    margin-top: 100px; color:red;
    margin-right:150px; color:red;
    margin-bottom:100px; color:red;
    margin-left:350px; color:red;
}

.thirdimage{
    padding:50px; color:red;
    border:red; color:red;
    margin-top: 100px; color:red;
    margin-right:150px; color:red;
    margin-bottom:100px; color:red;
    margin-left:350px; color:red;
}

.thirdlist{
    padding:50px;
    border:red;
    margin-top: 100px;
    margin-right:100px;
    margin-bottom:100px;
    margin-left:100px;
}

.fourthimage{
    margin-left: 1150px;
}

.fifthimage{
    margin-left: 1150px;

}



.sixthimage{
    margin-left: 1150px;

}


.seventhimage{
    margin-left: 1150px;

}